{ % extends template.html % }

{ % block main % }
<form action="Pokemon" method="post">
    <button type="submit" value="envio" name="envio">Mostrar todos los Pokémon</button>
    <br/>
    <input type="text" value="texto" name="texto"/>
    <button type="submit" value="busqueda" name="busqueda">Buscar Pokémon solicitado</button>
</form>
{ % endblock % }